body {
    margin: 0 auto 0 auto;
    background-color: #eaf6f6;
  }
  
  .first-container {
    width: 100%;
    height: 50%;
    background-color: #f2e7d5;
    position: absolute;
    margin-top: 0;
  }
  
  .drew {
    position: absolute;
    top: 20%;
    right: 50%;
    font-family: "Dancing Script", cursive;
    color: #66bfbf;
    font-size: 100px;
  }
  
  .message {
    font-family: "Sono", sans-serif;
  }
  
  .prog {
    position: absolute;
    bottom: 26%;
    right: 49%;
    color: #66bfbf;
    font-size: 30px;
    font-family: "Noto Sans Mono", monospace;
  }
  
  .me {
    position: absolute;
  
    top: 65%;
    right: 60%;
    float: left;
    line-height: 2;
    width: 150px;
    float: left;
  }
  
  .laptop {
    position: absolute;
    bottom: 28%;
    right: 35%;
  }
  
  .p1 {
    position: relative;
    left: 20px;
    font-size: large;
    /*font-family: 'Dancing Script', cursive;
      font-family: 'Oswald', sans-serif;
      */
    font-weight: normal;
    color: #66bfbf;
  
    font-family: "Kanit", sans-serif;
    font-family: "Noto Sans Mono", monospace;
  }
  
  .get {
    position: absolute;
    top: 1980px;
    right: 48%;
    font-weight: normal;
    font-family: "Dancing Script", cursive;
    font-family: "Oswald", sans-serif;
    font-family: "Secular One", sans-serif;
    color: #66bfbf;
  }
  
  .can {
    position: absolute;
    top: 1000px;
    right: 48%;
    font-weight: normal;
    font-family: "Dancing Script", cursive;
    font-family: "Oswald", sans-serif;
    font-family: "Secular One", sans-serif;
    color: #66bfbf;
  }
  
  .card {
    position: relative;
    left: 100px;
    top: 600px;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: #f8fbfe;
    border-radius: 8px;
    z-index: 1;
  }
  
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .card__content {
    position: relative;
  }
  
  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }
  
  .coffee {
    width: 150px;
    position: absolute;
    right: 58%;
    top: 1220px;
  }
  
  .card3 {
    position: absolute;
    top: 1150px;
    right: 40%;
    width: 300px;
    height: 254px;
    background: #66bfbf;
    border-radius: 40px 0 40px 0;
  }
  
  .p2 {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: "Dancing Script", cursive;
    font-family: "Oswald", sans-serif;
    font-family: "Secular One", sans-serif;
    color: #40514e;
  }
  
  .card4 {
    position: absolute;
    top: 1550px;
    right: 56%;
    width: 300px;
    height: 254px;
    background: #66bfbf;
    border-radius: 40px 0 40px 0;
  }
  
  .editor {
    width: 220px;
    position: absolute;
    right: 42%;
    top: 1560px;
  }
  
  .p3 {
    position: absolute;
    top: 2050px;
    right: 41%;
    font-weight: normal;
    font-family: "Dancing Script", cursive;
    font-family: "Oswald", sans-serif;
    font-family: "Secular One", sans-serif;
    color: #66bfbf;
  }
  
  .message {
    position: absolute;
    top: 2150px;
    right: 48%;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2.5px;
    font-weight: 1000;
    color: #000;
    background-color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .message:hover {
    position: absolute;
    top: 2150px;
    right: 48%;
    text-decoration: none;
    background-color: #66bfbf;
    box-shadow: 0px 15px 20px rgb(1, 255, 65);
    color: #ffffff;
    transform: translateY(-7px);
  }
  
  .message:active {
    position: absolute;
    top: 2150px;
    right: 48%;
    text-decoration: none;
    transform: translateY(-1px);
  }
  
  .second {
    background-color: #f2e7d5;
    position: absolute;
    width: 100%;
    height: 300px;
    margin-bottom: 0;
    top: 2300px;
  }
  
  .git {
    position: absolute;
    right: 51.5%;
    width: 50px;
    top: 80px;
    font-weight: normal;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    font-family: "Oswald", sans-serif;
    font-family: "Secular One", sans-serif;
    color: #66bfbf;
  }
  
  .footerP {
    font-family: "Dancing Script", cursive;
    font-family: "Oswald", sans-serif;
    font-family: "Secular One", sans-serif;
    color: #66bfbf;
    position: absolute;
    top: 150px;
    right: 45%;
  }
  